* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: FontPersonal;
  src: url(/DS-DIGII.TTF);
}
body {
  background-color: black;
}
.relog-contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: FontPersonal, sans-serif;
  font-size: 200px;
  align-items: flex-end;
}
.contenedor-2 {
  color: white;
  font-family: FontPersonal, sans-serif;
  font-size: 100px;
  align-items: flex-end;
}
@media (min-width: 700px) {
  .relog-contenedor {
    flex-direction: row;
  }
  .contenedor-1 {
    flex-direction: row;
    font-size: 300px;
    gap: 50px;
    margin-right: 50px;
  }
}
