@font-face {
  font-family: FontPersonal;
  src: url(/DS-DIGII.TTF);
}
body {
  background-color: black;
}
.divreloj {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  font-family: FontPersonal, sans-serif;
  color: white;
}
.impor {
  font-size: 3000%;
  padding: 0 70px 0 70px;
}
.second {
  font-size: 1500%;
}
@media screen and (max-width: 490px) {
  .divreloj {
    text-align: center;
    height: 93vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .impor {
    text-align: center;
    font-size: 2000%;
    font-family: FontPersonal, sans-serif;
    color: white;
    margin: 0px;
    max-height: fit-content;
  }
  .second {
    font-size: 800%;
    font-family: FontPersonal;
    color: white;
    margin: 0px;
  }
}
